# This is a basic workflow to help you get started with Actions

name: Build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "development" branch
  push:
    branches: [ "development" ]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: Install node depedencies
        run: npm i
        
      - name: Webpack
        run: npm run build
        
      - name: Upload the HTML5 artifact
        uses: actions/upload-artifact@v2
        with:
          name: TheVeryThirstyPlantAndTheLabyrinthOfGhosts-development-${{ github.run_number }}-HTML5
          path: dist
        
      - name: Build the standalone Windows executable
        run: npm run build:electron

      - name: Upload the standalone Windows executable
        uses: actions/upload-artifact@v2
        with:
          name: TheVeryThirstyPlantAndTheLabyrinthOfGhosts-development-${{ github.run_number }}-EXE
          path: dist/dist/*.exe
